@use '../../../styles/mixins';
@use '../../../styles/media';

.questions {
	@extend %photos-section;
	background-color: var(--white);

	@include media.smallMobile {
		font-size: clamp(6px, 1.9vw, 7.4px);
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	& img {
		width: 26em;
		background: transparent;
		margin-bottom: 20px;

		@include media.bigMobile {
			width: 33em;
		}

		@include media.mediumMobile {
			width: 34em;
		}
	}

	&__title {
		@extend %title-level-two
	}

	&__accordion-wrapper {
		display: flex;
		justify-content: center;
	}

	&__accordion {
		width: 80%;
		display: flex;
		flex-direction: column;
		row-gap: 20px;

		@include media.bigMobile {
			width: 100%;
		}
	}

	&__accordion-section {
		position: relative;
		padding: 1.4em 1.2em;
		overflow: hidden;
		background: #F8FAFB;
		border-radius: 15px;
		opacity: 0;
		transition: opacity .3s ease-in-out;

		@include media.bigMobile {
			padding: 1.8em 1.6em;
		}

		@include media.mediumMobile {
			padding: 2em 1.8em;
		}


		&.visible {
			opacity: 1;
		}
	}

	&__accordion-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.questions__accordion-icon {
			position: absolute;
			right: 8px;
			@include mixins.sizes(32px, 32px);
			transition: transform 0.4s ease-in-out;

			@include media.mediumMobile {
				width: 28px;
				height: 28px;
			}

			&.open {
				transform: rotate(135deg);
			}
		}

		& span {
			padding-right: 30px;
			font-size: 1.3em;
			color: #000;
			font-weight: 700;
			letter-spacing: .03em;
			line-height: 1.5625em;
			text-transform: uppercase;
			text-align: left;

			@include media.bigMobile {
				font-size: 1.65em;
			}

			@include media.mediumMobile {
				font-size: 1.95em;
			}
		}
	}


	&__accordion-content {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		transition: all .3s ease-in-out;

		& p {
			font-size: 1.1em;
			font-weight: 500;
			line-height: 1.3125em;
			letter-spacing: .03em;
			color: #939393;

			@include media.bigMobile {
				font-size: 1.45em;
			}

			@include media.mediumMobile {
				font-size: 1.75em;
			}
		}

		&.open {
			visibility: visible;
			margin-top: 1em;
			opacity: 1;
			max-height: 280px;
		}
	}

	&__items-btn {
		position: relative;
		@include mixins.flexCenter;
		column-gap: 7px;
		padding-bottom: 4px;
		font-size: 19px;
		transition: all 0.45s ease-in-out;
		color: var(--main-green);
		max-width: max-content;
		align-self: center;

		@include media.bigMobile {
			font-size: 18px;
		}

		@include media.mediumMobile {
			font-size: 16px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			border-bottom: 2px dotted var(--main-green);
			transition: var(--basic-transition);
		}

		& span {
			font-size: 23px;
			line-height: 6px;
		}

		@include media.hoverAndActive {
			color: var(--main-green);

			&::after {
				width: 50%;
			}
		}

		@include media.focusVisible {
			&::after {
				border-bottom: none;
				box-shadow: 0 1px 0 1px var(--red);
			}
		}
	}
}