@use '../../../styles/mixins';
@use '../../../styles/media';

.questions {
	@extend %photos-section;
	background-color: var(--white);

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 22em;
		background: transparent;
		margin-bottom: 1em;

		@include media.bigMobile {
			width: 28em;
		}
	}

	&__title {
		margin-bottom: 1em;
		font-size: 2.1em;
		letter-spacing: 0.05em;
		line-height: 1.2em;
		text-align: center;

		@include media.bigMobile {
			font-size: 2.4em;
			line-height: 1.1em;
		}

		@include media.mediumMobile {
			font-size: 2.7em;
		}
	}

	&__accordion-wrapper {
		display: flex;
		justify-content: center;
	}

	&__accordion {
		width: 80%;
		display: flex;
		flex-direction: column;
		row-gap: 20px;

		@include media.bigMobile {
			width: 100%;
		}
	}

	&__accordion-section {
		position: relative;
		padding: 1.2em 1.2em;
		overflow: hidden;
		background: #F8FAFB;
		border-radius: 15px;
		opacity: 0;
		transition: opacity .3s ease-in-out;

		@include media.bigMobile {
			padding: 1.8em 1.6em;
		}

		@include media.mediumMobile {
			padding: 2em 1.8em;
		}


		&.visible {
			opacity: 1;
		}
	}

	&__accordion-text {
		@extend %main-texts-fonts;
		padding-right: 30px;
		font-weight: 700;
		text-align: left;
	}

	&__accordion-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.questions__accordion-icon {
			position: absolute;
			right: 8px;
			@include mixins.sizes(32px, 32px);
			transition: transform 0.4s ease-in-out;

			@include media.mediumMobile {
				width: 30px;
				height: 30px;
			}

			&.open {
				transform: rotate(135deg);
			}
		}

		& span {
			padding-right: 30px;
			font-size: 1.3em;
			color: #000;
			font-weight: 700;
			letter-spacing: .03em;
			line-height: 1.5625em;
			text-align: left;

			@include media.bigMobile {
				font-size: 1.8em;
			}

			@include media.mediumMobile {
				font-size: 1.95em;
			}
		}
	}


	&__accordion-content {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		transition: all .3s ease-in-out;

		& p {
			font-size: 1.15em;
			font-weight: 500;
			line-height: 1.3em;
			letter-spacing: .03em;
			color: #939393;

			@include media.bigMobile {
				font-size: 1.65em;
			}

			@include media.mediumMobile {
				font-size: 1.8em;
			}
		}

		&.open {
			visibility: visible;
			margin-top: 1em;
			opacity: 1;
			max-height: 280px;
		}
	}

	&__more-btn {
		@extend %showMoreBtn;
		max-width: max-content;
		align-self: center;
	}
}