@use '../../../styles/media';
@use '../../../styles/mixins';
@use '../../../styles/animations';

.about {
	position: relative;
	z-index: -1;
	padding-top: 10.5rem;
	margin-top: -10.5rem;
	min-height: 100%;
	font-size: clamp(12px, 1.6vw, 16px);

	@include media.mediumMobile {
		min-height: 100dvh;
		font-size: clamp(10.5px, 2.82vw, 11.5px);
	}

	@include media.bigMobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 8rem;
		margin-top: -8rem;
	}

	&__background {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__background-desktop {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 1;

		@include media.mediumMobile {
			opacity: 0;
		}
	}

	&__background-mobile {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0;

		@include media.mediumMobile {
			opacity: 1;
		}
	}

	&__content {
		padding-top: 4.5em;
		padding-bottom: 2.5em;

		@include media.mediumMobile {
			padding-top: 5.83em;
		}
	}

	&__title {
		margin-bottom: 0.6375em;
		font-size: 3.1em;
		letter-spacing: .05em;
		font-weight: 300;

		& b {
			font-weight: 700;
		}

		@include media.bigMobile {
			margin-bottom: 0.7375em;
			text-align: center;
			line-height: 1.1em;
		}

		@include media.mediumMobile {
			font-size: 2.77em;
		}
	}

	&__description {
		display: flex;
		column-gap: 10px;

		@include media.bigMobile {
			flex-direction: column;
			align-items: center;
			gap: 2.05em 0;
		}
	}

	&__description-dots {
		margin-top: .3125em;

		@include media.bigMobile {
			margin-top: 0;
		}
	}

	&__description-dot {
		display: inline-block;
		@include mixins.sizes(9px, 9px);
		border: 2px solid var(--main-green);
		border-radius: var(--border-r-circle);
		animation: wave 2s linear infinite;

		@include media.bigMobile {
			@include mixins.sizes(14px, 14px);
		}

		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				animation-delay: #{($i - 1) * 0.5}s;
			}
		}

		&:not(:last-child) {
			margin-right: .3125em;

			@include media.bigMobile {
				margin-right: 1.4125em;
			}
		}
	}

	&__description-text {
		margin-bottom: 1.3em;
		max-width: 40%;
		font-size: 1.5em;

		@include media.bigMobile {
			max-width: 90%;
			text-align: center;
			font-size: 1.85em;
		}
	}

	&__features {
		display: flex;
		align-items: flex-start;
		column-gap: 1.125em;
		margin-bottom: 3em;

		@include media.bigMobile {
			column-gap: 0.925em;
		}

		@include media.mediumMobile {
			margin-bottom: 3.7em;
		}
	}

	&__features-item {
		@include mixins.flexCenter;
		flex-direction: column;
		row-gap: .5em;
		cursor: pointer;

		& img {
			width: 38px;
			animation: scale 3s linear infinite;
			transition: var(--basic-transition);
		}

		@include media.bigMobile {
			align-items: center;
			text-align: center;
			flex-basis: calc(25% - 0.925em);
		}
	}

	&__features-text {
		font-size: .87em;
		letter-spacing: .04em;
		text-align: center;

		@include media.bigMobile {
			font-size: 1.05em;
		}

		@include media.smallMobile {
			font-size: 1em;
		}
	}

	&__order {
		display: flex;
		align-items: center;
		column-gap: .9375em;

		@include media.bigMobile {
			flex-direction: column;
			gap: 1.5625em 0;
		}
	}

	&__order-btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: .625em;
		padding: 1.575em 1.875em;
		overflow: hidden;
		opacity: 0.9;
		background-color: var(--main-green);
		border-radius: 15px;
		border: none;
		cursor: pointer;
		transition: var(--basic-transition);
		font-weight: 600;
		color: var(--white);

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background: var(--white);
			@include mixins.sizes(10%, 300%);
			transform: rotate(45deg) translateY(-50%);
			animation: glare 3s linear infinite;
			opacity: 0.8;
		}

		@include media.bigMobile {
			padding: 1.9em 1.6em;
		}

		@include media.hoverAndActive {
			opacity: 1;
		}

		& span {
			font-size: 1em;
			white-space: nowrap;

			@include media.bigMobile {
				font-size: 1.4em;
			}

			@include media.smallMobile {
				font-size: 1.2em;
			}
		}

		& img {
			width: 26px;
			animation: scaleAndRotate 2.2s linear infinite;

			@include media.bigMobile {
				width: 23px;
			}
		}
	}

	&__order-text {
		max-width: min-content;
		font-size: .89em;
		letter-spacing: .04em;

		@include media.bigMobile {
			max-width: 100%;
			font-size: 1.31em;
		}
	}
}