@use '../../../../styles/mixins';
@use '../../../../styles/media';
@use '../../../../styles/animations';

.popup {
	@include mixins.popup;

	&__img {
		width: 61em;
		cursor: default;

		@include media.bigMobile {
			width: 95%;
		}
	}
}