@use '../../../styles/mixins';
@use '../../../styles/media';

.more__btn {
	position: relative;
	@include mixins.useFlex(center, center);
	column-gap: 7px;
	margin: 0 auto;
	padding-bottom: 4px;
	font-size: 20px;
	letter-spacing: var(--basic-letter-spacing);
	transition: all 0.45s ease-in-out;
	color: var(--dark-green);

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		border-bottom: 2px dotted var(--dark-green);
		transition: var(--basic-transition);
	}

	& svg {
		transition: var(--basic-transition);
		@include mixins.sizes(18px, 18px);
		fill: var(--dark-green);
	}

	@include media.bigMobile {
		font-size: 18px;

		& svg {
			@include mixins.sizes(16px, 16px);
		}
	}

	@include media.mediumMobile {
		font-size: 16px;

		& svg {
			@include mixins.sizes(14px, 14px);
		}
	}

	@include media.hoverAndActive {
		& svg {
			transform: rotate(180deg);
		}

		&::after {
			width: 50%;
		}
	}

	@include media.focusVisible {
		&::after {
			border-bottom: none;
			box-shadow: 0 1px 0 1px var(--red);
		}
	}
}