@use '../../../../styles/mixins';
@use '../../../../styles/media';
@use '../../../../styles/animations';

.burger {
	display: none;
	position: relative;
	@include mixins.sizes(45px, 45px);
	border-radius: var(--border-r-circle);
	cursor: pointer;


	@include media.bigMobile {
		@include mixins.flexCenter;
		flex-direction: column;
		row-gap: 8px;
	}

	@include media.mediumMobile {
		@include mixins.sizes(42px, 42px);
	}

	@include media.smallMobile {
		@include mixins.sizes(38px, 38px);
	}

	@include media.focusVisible {
		border: 2px solid var(--red);
	}

	&::before {
		@include mixins.increaseClickableArea;
	}

	&__line {
		@include mixins.sizes(28px, 2.5px);
		background-color: var(--white);


		@include media.smallMobile {
			width: 21px;
		}

		&.first-line,
		&.second-line,
		&.third-line {
			animation: none;
		}
	}

	&.open {
		.burger__line {
			position: absolute;
			background-color: var(--black);
		}

		.burger__line.first-line {
			animation: firstLineOpenAnimation 0.4s forwards;
		}

		.burger__line.second-line {
			animation: secondLineOpenAnimation 0.1s forwards;
		}

		.burger__line.third-line {
			animation: thirdLineOpenAnimation 0.4s forwards;
		}
	}

	&.close {
		.burger__line.first-line {
			animation: firstLineCloseAnimation 0.4s forwards;
		}

		.burger__line.second-line {
			animation: rotateBurgerCloseSecond 0.1s forwards;
		}

		.burger__line.third-line {
			animation: rotateBurgerCloseThird 0.4s forwards;
		}
	}
}