@use '../../../../styles/mixins';
@use '../../../../styles/media';

.logo {
	width: 7%;

	@include media.bigMobile {
		width: 14%;
	}

	@include media.mediumMobile {
		width: 22%;
	}

	&__img {
		@include mixins.sizes(100%, auto);
		border-radius: 10%;

		@include media.mediumMobile {
			width: 100%;
		}
	}

	&__link {
		display: inline-block;
	}
}