@use '../../../../styles/mixins';
@use '../../../../styles/media';

.logo {
	@include media.focusVisible {
		outline: none;

		.logo__img {
			outline: var(--focus-outline);
		}
	}

	&__img {
		@include mixins.sizes(5.5em, auto);
		border-radius: 10px;

		@include media.bigMobile {
			width: 7em;
		}

	}

	&__link {
		display: inline-block;
	}
}