@use '../../../styles/mixins';
@use '../../../styles/media';

.products {
	@extend %section;
	background-color: var(--white);

	&__title {
		@extend %titleLevelTwo;
	}

	&__text {
		@extend %mainTextsFonts;
		margin-bottom: 1.4em;
		text-align: center;
	}

	&__types {
		display: flex;
		column-gap: 2em;
		margin-bottom: 3em;
		justify-content: center;
		font-size: clamp(12.5px, 1.5vw, 16px);

		@include media.bigMobile {
			flex-wrap: wrap;
			row-gap: 1.25em;
			font-size: clamp(13px, 2vw, 15px);
		}

		@include media.mediumMobile {
			font-size: 14px;
		}
	}

	&__types-btn {
		flex: 0 0 calc((100% - (3 * 2em)) / 4);
		padding-inline: 12px;
		max-width: 270px;
		height: 3.6em;
		opacity: 0.85;
		background-color: var(--black);
		border-radius: 15px;
		border: none;
		transition: background-color .3s ease, border-radius .5s ease, opacity .3s ease;
		color: var(--white);
		cursor: pointer;

		@include media.hoverAndActive {
			border-radius: 20px;
			opacity: 1;
		}

		@include media.focusVisible {
			outline: var(--focus-outline);
		}

		@include media.bigMobile {
			flex-basis: calc((80% - 1.25em) / 2);
			max-width: 220px;
		}

		@include media.mediumMobile {
			flex-basis: 100%;
			max-width: 200px;
			height: 3.4em;
		}

		& span {
			font-size: 1.1em;
			font-weight: 600;
			letter-spacing: 0;
		}
	}

	&__types-btn.active {
		background-color: var(--dark-green);
		opacity: 1;
	}

	&__items {
		@include mixins.useFlex(flex-start, flex-start);
		@extend %imagesCardsWrapper;
	}

	&__items.oneRow {
		justify-content: center;
	}

	&__item {
		@extend %imageCardBlock;
		row-gap: 0.175em;
		transition: opacity 0.3s ease;
		opacity: 0;

		&.visible {
			opacity: 1;
		}

		& svg {
			@extend %imageCardIcon;
		}

		@include media.hoverAndActive {
			.products__item-img {
				filter: brightness(0.4);
			}

			svg {
				opacity: 1;
			}

			.products__item-text {
				text-decoration: underline;
				text-decoration-skip-ink: none;
				text-decoration-color: var(--black);
			}
		}
	}

	&__item-link {
		position: relative;
		outline: none;

		@include media.focusVisible {
			.products__item-img {
				outline: var(--focus-outline);
			}
		}
	}

	&__item-img {
		@extend %imageCard;
	}

	&__item-text {
		font-size: 0.95em;
		letter-spacing: var(--basic-letter-spacing);

		@include media.tablet {
			font-size: 1em;
		}
	}
}