@use '../../../../styles/mixins';
@use '../../../../styles/media';

.adress {
	@include mixins.flexCenter;
	column-gap: .31rem;

	@include media.bigMobile {
		display: none;
	}

	&__text {
		max-width: min-content;
	}

	&__img {
		@include mixins.sizes(1.62rem, auto);
		cursor: default;
	}
}