@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.header {
	&__top {
		font-size: clamp(10px, 1.7vw, 16px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: .525em;
		border-bottom: 2px solid var(--white);
		position: relative;
		z-index: 100;
		color: var(--white);

		@include media.bigMobile {
			border-bottom: none;
		}

		@include media.mediumMobile {
			font-size: clamp(7.3px, 2vw, 10px);
		}
	}

	&__top.open {
		color: var(--black);

		@media only screen and (min-width: 769px) {
			color: var(--white);
		}
	}
}