@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.header {

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: .625rem;
		border-bottom: 2px solid var(--white);
	}

	&__callUs {
		@include mixins.flexCenter;
		flex-direction: column;
		row-gap: .31rem;
		font-weight: 600;

		@include media.mediumMobile {
			row-gap: .71rem;
		}
	}

	&__callUs-text {
		&::before {
			@extend %header-blink-animation;
		}
	}

	&__callUs-link {
		font-size: 1.112rem;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			color: var(--main-green);
		}

		@include media.bigMobile {
			font-size: 1.612rem;
		}

		@include media.mediumMobile {
			font-size: 1.912rem;
		}
	}

	&__callUs-btn {
		padding: .7rem;
		font-size: 1.112rem;
		border: none;
		border-radius: .62rem;
		cursor: pointer;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			transform: var(--scale);
		}

		@include media.bigMobile {
			padding: 1rem;
			font-size: 1.312rem;
		}

		@include media.mediumMobile {
			padding: 1.3rem;
			font-size: 1.512rem;
		}
	}

	&__burger {
		display: none;
		position: relative;
		@include mixins.sizes(45px, 45px);
		background-color: var(--white);
		border-radius: 50%;
		cursor: pointer;

		@include media.bigMobile {
			@include mixins.flexCenter;
			flex-direction: column;
			row-gap: 6px;
		}

		&::before {
			@include mixins.increaseClickableArea;
		}
	}

	&__burger-line {
		@include mixins.sizes(23px, 2px);
		background-color: var(--main-green);
		transition: transform .3s ease-in-out;

		&_active {
			position: absolute;

			&:first-child {
				@include mixins.positioningBurgerLines(-45)
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				@include mixins.positioningBurgerLines(45)
			}
		}
	}
}