@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.header {
	&__top {
		font-size: clamp(8px, 1.4vw, 16px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: .625em;
		border-bottom: 2px solid var(--white);
		position: relative;
		z-index: 100;
		color: var(--white);

		@include media.bigMobile {
			border-bottom: none;
		}

		&.open {
			color: var(--black);

			@media only screen and (min-width: 769px) {
				color: var(--white);
			}
		}
	}
}