@use '../../../styles/mixins';
@use '../../../styles/media';

.contacts {
	&__wrapper {
		@include media.bigMobile {
			margin-bottom: 2em;
		}
	}

	&__title {
		@extend %footerTitle;
	}

	&__title,
	&__adress,
	&__time,
	&__call,
	&__mail {
		@extend %footerText;
	}

	&__number-link,
	&__mail-link {
		@extend %footerLink;
	}

	&__social {
		display: flex;
		flex-direction: column;
		row-gap: 0.75rem;
	}

	&__socials-inner {
		@extend %footerText;
		margin-bottom: 0;

		@include media.bigMobile {
			margin-bottom: 0.3em;
		}
	}
}