@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.questions {
	@extend %section;
	background-color: var(--white-251);

	&__inner {
		@include mixins.useFlex(center, center);
		flex-direction: column;
	}

	&__img {
		@include mixins.sizes(23em, 18em);
		background: transparent;
		margin-bottom: 1em;
		animation: scaleAndRotateImg 3s infinite ease-in-out;

		@include media.bigMobile {
			@include mixins.sizes(28em, 22em);
		}
	}

	&__title {
		@extend %titleLevelThree;
	}

	&__accordion-wrapper {
		display: flex;
		justify-content: center;
	}

	&__accordion {
		width: 85%;
		display: flex;
		flex-direction: column;
		row-gap: 20px;

		@include media.bigMobile {
			width: 100%;
		}
	}

	&__accordion-section {
		position: relative;
		padding: 1.2em 1.2em;
		overflow: hidden;
		background: #F8FAFB;
		border-radius: 15px;
		opacity: 0;
		transition: opacity .3s ease-in-out;

		@include media.bigMobile {
			padding: 1.8em 1.6em;
		}

		@include media.mediumMobile {
			padding: 2em 1.8em;
		}


		&.visible {
			opacity: 1;
		}
	}

	&__accordion-text {
		margin-right: 30px;
		font-weight: 700;
		text-align: left;
		color: var(--black);
		font-size: 1.3em;
		letter-spacing: var(--basic-letter-spacing);
		line-height: 1.4;

		@include media.bigMobile {
			font-size: 1.8em;
			line-height: 1.3;
		}

		@include media.mediumMobile {
			font-size: 2em;
		}
	}

	&__accordion-btn {
		@include mixins.useFlex(space-between, center);
		width: 100%;

		@include media.focusVisible {
			.questions__accordion-text {
				border-bottom: 2px solid var(--red);
			}
		}
	}

	&__accordion-icon {
		position: absolute;
		right: 8px;
		@include mixins.sizes(34px, 34px);
		transition: transform 0.4s ease-in-out;

		@include media.mediumMobile {
			@include mixins.sizes(30px, 30px);
		}

		&.open {
			transform: rotate(135deg);
		}
	}

	&__accordion-content {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		transition: all .3s ease-in-out;

		&.open {
			visibility: visible;
			margin-top: 1em;
			opacity: 1;
			max-height: 280px;
		}
	}

	&__accordion-subtext {
		@extend %mainSubtextsFonts;
		font-weight: 500;
		color: #939393;
	}

	&__more-btn {
		@extend %showMoreBtn;
		align-self: center;
	}
}