@use '../../../styles/media';
@use '../../../styles/mixins';
@use '../../../styles/animations';

.about {
	position: relative;
	padding-top: 12rem;
	margin-top: -12rem;
	font-size: clamp(11px, 1.659vw, 16px);

	@include media.mediumMobile {
		font-size: clamp(10.5px, 2.82vw, 12px);
	}

	@include media.bigMobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 9rem;
		margin-top: -9rem;
	}

	&__background-big {
		@include mixins.fullscreenBg;
		display: block;

		@include media.mediumMobile {
			display: none;
		}
	}

	&__background-small {
		@include mixins.fullscreenBg;
		display: none;

		@include media.mediumMobile {
			display: block;
		}
	}

	&__background {
		@include mixins.fullscreenBg;
	}

	&__content {
		padding-block: 8em;

		@include media.bigMobile {
			padding-block: 6.5em;
		}
	}

	&__title {
		margin-bottom: 0.9em;
		max-width: 62%;
		font-size: 2.5em;
		letter-spacing: .05em;
		line-height: 1.3;
		font-weight: 300;

		& b {
			font-weight: 700;
		}

		@include media.tablet {
			max-width: 85%;
		}

		@include media.bigMobile {
			margin-bottom: 1em;
			max-width: 100%;
			text-align: center;
		}

		@include media.mediumMobile {
			font-size: 2.5em;
		}
	}

	&__description {
		display: flex;
		column-gap: 10px;

		@include media.bigMobile {
			flex-direction: column;
			align-items: center;
			gap: 3.1em 0;
		}
	}

	&__description-dots {
		margin-top: .3125em;

		@include media.bigMobile {
			margin-top: 0;
		}
	}

	&__description-dot {
		display: inline-block;
		@include mixins.sizes(11px, 11px);
		border: 2px solid var(--main-green);
		border-radius: var(--border-r-circle);
		animation: wave 2s linear infinite;

		@include media.bigMobile {
			@include mixins.sizes(14px, 14px);
		}

		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				animation-delay: #{($i - 1) * 0.5}s;
			}
		}

		&:not(:last-child) {
			margin-right: .3125em;

			@include media.bigMobile {
				margin-right: 1.4125em;
			}
		}
	}

	&__description-text {
		margin-bottom: 1.8em;
		max-width: 45%;
		font-size: 1.5em;
		letter-spacing: var(--basic-letter-spacing);
		line-height: 1.4;

		@include media.bigMobile {
			max-width: 78%;
			text-align: center;
			font-size: 1.8em;
			line-height: 1.3;
		}

		@include media.mediumMobile {
			font-size: 1.75em;
		}
	}

	&__features {
		display: flex;
		align-items: flex-start;
		column-gap: 1.125em;
		margin-bottom: 3.4em;

		@include media.bigMobile {
			column-gap: 0.925em;
		}

		@include media.mediumMobile {
			margin-bottom: 3.7em;
		}
	}

	&__features-item {
		@include mixins.useFlex(center, center);
		flex-direction: column;
		row-gap: .5em;
		pointer-events: none;

		& img {
			width: 38px;
			animation: scale 3s linear infinite;
			transition: var(--basic-transition);
		}

		@include media.bigMobile {
			align-items: center;
			text-align: center;
			flex-basis: calc(25% - 0.925em);
		}

		@include media.mediumMobile {
			& img {
				width: 36px;
			}
		}
	}

	&__features-text {
		font-size: 0.9em;
		letter-spacing: .04em;
		text-align: center;

		@include media.bigMobile {
			font-size: 1.1em;
		}

		@include media.mediumMobile {
			font-size: 1em;
		}
	}

	&__order {
		display: flex;
		align-items: center;
		column-gap: .9375em;

		@include media.bigMobile {
			flex-direction: column;
			gap: 1.5625em 0;
		}
	}

	&__order-btn {
		position: relative;
		@include mixins.useFlex(space-around, center);
		column-gap: .625em;
		padding: 1.6em 2em;
		overflow: hidden;
		background-color: var(--dark-green);
		border-radius: 15px;
		transition: var(--basic-transition);
		color: var(--white);

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background: var(--white);
			@include mixins.sizes(10%, 300%);
			transform: rotate(45deg) translateY(-50%);
			animation: glare 3s linear infinite;
			opacity: 0.8;
		}

		@include media.bigMobile {
			padding: 1.9em 1.6em;
		}

		@include media.smallMobile {
			padding: 1.7em 1em;
		}

		@include media.hoverAndActive {
			background-color: var(--main-green);
		}

		@include media.focusVisible {
			outline: var(--focus-outline);
		}

		& span {
			font-size: 1.2em;
			font-weight: 600;
			letter-spacing: var(--basic-letter-spacing);
			white-space: nowrap;

			@include media.bigMobile {
				font-size: 1.3em;
			}
		}

		& img {
			width: 26px;
			animation: scaleAndRotate 2.2s linear infinite;

			@include media.bigMobile {
				width: 23px;
			}
		}
	}

	&__order-text {
		max-width: min-content;
		font-size: 1em;
		line-height: 1.4;
		letter-spacing: var(--basic-letter-spacing);

		@include media.bigMobile {
			max-width: 100%;
			font-size: 1.3em;
			line-height: 1.3;
		}
	}
}