@use '../../../../styles/mixins';
@use '../../../../styles/media';

.socials {
	@include mixins.useFlex(center, center);
	flex-direction: column;
	row-gap: .31rem;

	@include media.bigMobile {
		display: none;
	}
}