@use '../../../../styles/mixins';
@use '../../../../styles/media';
@use '../../../../styles/animations';

.socials {
	@include mixins.flexCenter;
	flex-direction: column;
	row-gap: .31rem;

	@include media.bigMobile {
		display: none;
	}
}