@use '../../styles/mixins';
@use '../../styles/media';

.delivery {
	@extend %section;

	&__title {
		@extend %titleLevelOne;
	}

	&__wrapper {
		@include mixins.useFlex(space-between, center);
		column-gap: 10px;

		@include media.bigMobile {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__content-wrapper {
		width: 65%;

		@include media.bigMobile {
			width: 100%;
		}
	}

	&__img {
		margin-bottom: 2em;
		@include mixins.sizes(100%, auto)
	}

	&__subtitle {
		@extend %titleLevelTwo;
		margin-bottom: 0.4em;
		text-align: left;

		@include media.bigMobile {
			text-align: center;
		}
	}

	&__text {
		@extend %usefulTextFonts;

		&:last-child {
			@include media.bigMobile {
				margin-bottom: 2.5em;
			}
		}
	}
}