@use '../../../styles/mixins';
@use '../../../styles/media';

.descriptions {
	@extend %section;

	&__title {
		margin-bottom: 0.8em;
		font-size: 1.9em;
		letter-spacing: 0.05em;
		line-height: 1.3;
		text-align: center;

		@include media.bigMobile {
			font-size: 2.45em;
		}

		@include media.mediumMobile {
			font-size: 2.55em;
		}
	}

	&__text {
		@extend %usefulTextFonts;
	}

	&__block {
		overflow: hidden;
	}

	&__block-hidden {
		@include mixins.hide;
		max-height: 0;

		&.visible {
			@include mixins.show;
			max-height: 100%;
		}
	}

	&__block-title {
		@extend %titleLevelFive;
	}

	&__list {
		@extend %usefulTextList;
	}

	&__item {
		@extend %usefulTextItem;
	}

	&__item-link {
		color: var(--main-green);
		outline: none;
		cursor: pointer;
		opacity: 0.9;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			box-shadow: 0 2px 0 0 var(--red)
		}

		@include media.focusVisible {
			box-shadow: 0 2px 0 0 var(--red)
		}
	}

	&__block-subtitle {
		@extend %titleLevelSix;
	}

	&__more-btn {
		@extend %showMoreBtn;
		margin: 0 auto;
	}
}