@use '../../../styles/mixins';
@use '../../../styles/media';

.information {

	&__title {
		@extend %footer-title;
	}

	&__list {
		@include media.bigMobile {
			text-align: center;
		}
	}

	&__item {
		font-size: 1em;
		letter-spacing: var(--basic-letter-spacing);
		line-height: 1.6em;
		font-style: normal;

		@include media.bigMobile {
			font-size: 1.4em;
			line-height: 1.4em;
			text-align: center;
		}

		@include media.mediumMobile {
			font-size: 1.45em;
		}
	}
}