@use '../../../styles/mixins';
@use '../../../styles/media';

.breadcrumb {
	padding-top: 2.5em;

	&.gray {
		background-color: #ECECEB;
	}

	&__list {
		@include mixins.useFlex(flex-start, center);
		column-gap: 15px;
		letter-spacing: var(--basic-letter-spacing);
		font-size: 1.1em;

		& span {
			color: var(--black);
		}

		@include media.bigMobile {
			column-gap: 10px;
		}
	}

	&__link {
		color: #625f5f;
		font-weight: 500;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			color: var(--black)
		}

		@include media.focusVisible {
			outline: none;
			box-shadow: var(--focus-shadow);
		}
	}

	&__current-page {
		color: var(--black);
		font-weight: 700;
	}
}