@keyframes blink {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@keyframes scale {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}

@keyframes scaleAndRotate {

	0%,
	100% {
		transform: scale(1) rotate(0deg);
	}

	50% {
		transform: scale(1.20) rotate(-7.5deg);
	}
}

@keyframes wave {

	0%,
	100% {
		opacity: 1;
		transform: translateY(0px);
	}

	50% {
		opacity: .25;
		transform: translateY(2.5px);
	}
}

@keyframes glare {
	0% {
		left: -80%
	}

	100% {
		left: 160%;
	}
}

@keyframes firstLineOpenAnimation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(45deg)
	}
}

@keyframes secondLineOpenAnimation {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes thirdLineOpenAnimation {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(-45deg)
	}
}

@keyframes firstLineCloseAnimation {
	0% {
		transform: rotate(45deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes secondLineCloseAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes rotateBurgerCloseThird {
	0% {
		transform: rotate(-45deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes smoothShow {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes smoothHide {
	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes scaleAndDropShadowImage {

	0%,
	100% {
		transform: scale(1);
		filter: none;
	}

	50% {
		transform: scale(1.01);
		filter: drop-shadow(2px 4px 6px var(--white));
	}
}

@keyframes scaleAndRotateImg {

	0%,
	100% {
		transform: scale(1) rotate(-5deg);
	}

	50% {
		transform: scale(1.02) rotate(0deg);
	}
}

@keyframes imgShadow {

	0%,
	100% {
		filter: drop-shadow(0px 0px 0px var(--white));
	}

	50% {
		filter: drop-shadow(0px 0px 10px var(--white));
	}
}

@keyframes typing {

	0%,
	100% {
		width: 8ch;
	}

	50% {
		width: 0;
	}
}

@keyframes typingBlink {
	50% {
		border-color: transparent;
	}
}

@keyframes boxShadow {

	0%,
	100% {
		box-shadow: 0 0 2px 0 var(--main-green);
		border: 0 solid rgba(0, 0, 0, 0.84);
	}

	50% {
		box-shadow: 0 0 1px 3px var(--main-green);
		border: 10px solid rgba(0, 0, 0, 0.84);
	}
}