@use 'sass:math';
@use './_media';

@mixin fluid-text($min: 13, $content-width: 1440, $max: 46) {
	$min-rem: math.div($min, 16); // 
	$max-rem: math.div($max, 16); // 
	font-size: clamp(#{$min-rem}rem, math.div($max, $content-width) * 100vw, #{$max-rem}rem);
}

@mixin flexCenter {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

@mixin pxToRem($px) {}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin hide {
	opacity: 0;
	visibility: hidden;
}

@mixin show {
	opacity: 1;
	visibility: visible;
}

%texts-fonts {
	font-size: 0.9625rem;
	letter-spacing: var(--basic-letter-spacing);
	text-align: center;

	@include media.bigMobile {
		font-size: 1.65rem;
	}

	@include media.mediumMobile {
		font-size: 1.95rem;
	}
}

%header-blink-animation {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	background-color: rgb(0, 255, 94);
	border-radius: 50%;
	animation: blink 2.2s infinite;
}

@mixin increaseClickableArea {
	content: "";
	position: absolute;
	display: block;
	inset: -5px
}

@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}

@mixin positioningBurgerLines($rotateVal) {
	top: 50%;

	transform: translateY(-50%) rotate(#{$rotateVal}deg);
	transform-origin: center center;
}