@use 'sass:math';
@use './_media';

@mixin fluid-text($min: 13, $content-width: 1440, $max: 46) {
	$min-rem: math.div($min, 16); // 
	$max-rem: math.div($max, 16); // 
	font-size: clamp(#{$min-rem}rem, math.div($max, $content-width) * 100vw, #{$max-rem}rem);
}

@mixin flexStartStart {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexSpaceBetweenCenter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flexSpaceAroundCenter {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@mixin flexCenterStart {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin fixed-center-fullscreen {
	position: fixed;
	inset: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include sizes(100%, 100%);
}

@mixin hide {
	opacity: 0;
	pointer-events: none;
}

@mixin show {
	opacity: 1;
	pointer-events: all;
}

@mixin increaseClickableArea {
	content: "";
	position: absolute;
	display: block;
	inset: -5px
}

@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}

@mixin positioningBurgerLines($rotateVal) {
	top: 50%;
	transform: translateY(-50%) rotate(#{$rotateVal}deg);
	transform-origin: center center;
}

@mixin fullscreen-bg($opacity, $mediumMobileOpacity) {
	position: absolute;
	inset: 0;
	@include sizes(100%, 100%);
	object-fit: cover;
	opacity: $opacity;

	@include media.mediumMobile {
		opacity: $mediumMobileOpacity;
	}
}

%header-texts-fonts {
	font-size: 0.94em;
	letter-spacing: var(--basic-letter-spacing);
	text-align: center;

	@include media.bigMobile {
		font-size: 1.35em;
	}

	@include media.mediumMobile {
		font-size: 1.65em;
	}
}

%header-blink-animation {
	content: '';
	position: absolute;
	left: -17px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	background-color: var(--main-green);
	border-radius: var(--border-r-circle);
	animation: blink 2.2s infinite;

	@include media.bigMobile {
		left: -15px;
	}

	@include media.mediumMobile {
		left: -13px;
	}
}

%photos-section {
	padding-block: 4em;
	font-size: clamp(11px, 1.4vw, 16px);
	color: var(--text-main-color);

	@include media.bigMobile {
		font-size: clamp(7.4px, 1.9vw, 11px);
	}
}

%title-level-two {
	margin-bottom: 0.4em;
	font-size: 2.65em;
	letter-spacing: 0.05em;
	text-align: center;

	@include media.bigMobile {
		font-size: 2.9em;
		line-height: 1.1em;
		margin-bottom: 0.6em;
	}

	@include media.mediumMobile {
		font-size: 3.25em;
	}
}

%images-cards {
	position: relative;
	flex-wrap: wrap;
	gap: 1.5625em;
	font-size: clamp(10px, 1.35vw, 18px);

	@include media.bigMobile {
		font-size: clamp(10px, 2vw, 15px);
	}

	@include media.mediumMobile {
		font-size: clamp(12px, 3.6vw, 18px);
	}
}

%image-card {
	@include flexCenter;
	flex-direction: column;
	flex: 0 0 calc((100% - 2 * 1.5625em) / 3);
	cursor: pointer;
	text-align: center;
	font-weight: 600;

	@include media.bigMobile {
		flex-basis: calc((100% - 1 * 1.5625em) / 2);
	}

	@include media.mediumMobile {
		flex-basis: 100%;
	}
}

%image-card-svg {
	@include abs-center;
	@include sizes(30px, 30px);
	opacity: 0;
	transition: var(--basic-transition);

	@include media.hoverAndActive {
		@include sizes(32px, 32px);
	}
}

%image-card-img {
	@include sizes(19.5em, 13.5em);
	border-radius: 10px;
	transition: filter .3s ease;

	@include media.mediumMobile {
		@include sizes(22.5em, 15.5em);
	}
}