:root {
	--white: rgb(255, 255, 255);
	--white-251: rgb(251, 251, 251);
	--black: rgb(0, 0, 0);
	--black-alpha: rgb(0, 0, 0, 0.8);
	--red: rgb(255, 0, 0);
	--main-green: rgb(33, 178, 36);
	--text-main-color: rgb(10, 10, 10);

	-fz-1em: 1em;

	--border-r-circle: 50%;
	--border-b-white-2: 2px solid var(--white);

	--focus-outline: 2px solid var(--red);

	--focus-shadow: 0 2px 0 0 var(--red);

	--basic-transition: all .3s ease;
	--basic-letter-spacing: 0.025em;
	--basic-line-height: 0.9em;
	--scale: scale(1.03)
}