@use './mixins';
@use './media';
@use './animations';

.container {
	width: 92%;
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 1440px;

	@include media.bigMobile {
		padding-inline: 8px;
		width: 95%;
	}

	@include media.mediumMobile {
		padding-inline: 5px;
	}
}

.header {
	position: relative;
	z-index: 10;
	padding-top: .625em;
	height: 12rem;

	@include media.bigMobile {
		height: 8rem;
	}

	&__texts {
		@extend %header-texts-fonts;
	}

	&__animation {
		position: relative;

		&::before {
			@extend %header-blink-animation
		}
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	white-space: nowrap;
}

.fancybox__caption {
	padding: 8px !important;
	font-size: 20px;
	text-align: center;

	@media only screen and (max-width: 578px) {
		padding: 6px !important;
		font-size: 18px;
	}
}

.footer__icon {
	width: 1.125rem;
	cursor: default;
}