@use './mixins';
@use './media';
@use './animations';

.container {
	width: 92%;
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 1440px;

	@include media.bigMobile {
		padding-inline: 8px;
		width: 95%;
	}

	@include media.mediumMobile {
		padding-inline: 5px;
	}
}

.header {
	position: relative;
	z-index: 10;
	padding-top: .625em;
	height: 12rem;

	&.black {
		background-color: var(--dark-bg);
		max-height: 165px;

		@media only screen and (max-width: 994px) {
			max-height: 160px;
		}

		@media only screen and (max-width: 880px) {
			max-height: 142px;
		}

		@media only screen and (max-width: 860px) {
			max-height: 138px;
		}

		@media only screen and (max-width: 830px) {
			max-height: 133px;
		}

		& nav {
			border-bottom: none;
		}
	}

	@include media.bigMobile {
		height: min-content;
	}

	&__texts {
		@extend %headerTextsFonts;
	}

	&__animation {
		position: relative;

		&::before {
			@extend %headerBlinkAnimation
		}
	}
}

.sr-only {
	position: absolute;
	@include mixins.sizes(1px, 1px);
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	white-space: nowrap;
}

.fancybox__caption {
	padding: 8px !important;
	font-size: 20px;
	text-align: center;

	@media only screen and (max-width: 578px) {
		padding: 6px !important;
		font-size: 18px;
	}
}

.footer__icon {
	width: 1.125rem;
	cursor: default;
}