@use './mixins';
@use './media';
@use './animations';

.container {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1.25rem;

	@include media.bigMobile {
		padding-inline: 8px;
	}

	@include media.mediumMobile {
		padding-inline: 5px;
	}
}

.header {
	position: relative;
	z-index: 10;
	padding-top: .625em;
	height: 10.5rem;

	@include media.bigMobile {
		height: 8rem;
	}

	&__texts {
		@extend %texts-fonts;
	}

	&__animation {
		position: relative;

		&::before {
			@extend %header-blink-animation
		}
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	white-space: nowrap;
}