@use '../../../styles/mixins';
@use '../../../styles/media';

.btn__scroll-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	@include mixins.hide;
	border-radius: var(--border-r-circle);
	transition: var(--basic-letter-spacing);

	&.visible {
		@include mixins.useFlex(center, center);
		@include mixins.show;
	}

	&::before {
		@include mixins.increaseClickableArea;
	}

	& svg {
		@include mixins.sizes(3.2rem, 3.2rem);

		@include media.bigMobile {
			@include mixins.sizes(3.6rem, 3.6rem);
		}
	}

	@include media.bigMobile {
		right: 5px;
		bottom: 58px;
	}

	@include media.hoverAndActive {
		opacity: 1;
	}

	@include media.focusVisible {
		outline: var(--focus-outline);
	}
}