@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.contacts__widget {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	z-index: 10;
	display: none;

	@include media.bigMobile {
		@include mixins.flexSpaceBetweenCenter;
		font-size: clamp(12px, 3vw, 16px);
	}

	& svg {
		@include mixins.sizes(2.1em, 2.1em)
	}

	&-telegram {
		@extend %contacts-widget-link;
		background: rgb(38 125 165);
	}

	&-phone {
		@extend %contacts-widget-link;
		background: #1e7c20;
	}

	&-text {
		font-size: 1.4em;
		letter-spacing: var(--basic-letter-spacing);
	}
}