@use '../../../styles/mixins';
@use '../../../styles/media';

.descriptions {
	@extend %photos-section;

	&__title {
		margin-bottom: 0.8em;
		font-size: 2.35em;
		letter-spacing: 0.05em;
		line-height: 1.3em;
		text-align: center;

		@include media.bigMobile {
			font-size: 2.45em;
		}

		@include media.mediumMobile {
			font-size: 2.55em;
		}
	}

	&__text {
		margin-bottom: 1em;
		font-size: 1.15em;
		line-height: 1.4em;
		letter-spacing: var(--basic-letter-spacing);

		@include media.bigMobile {
			font-size: 1.65em;
		}

		@include media.mediumMobile {
			margin-bottom: 0.8em;
			font-size: 1.8em;
		}
	}

	&__block {
		margin-bottom: 0.8em;
		max-height: 105px;
		overflow: hidden;

		@include media.desktop {
			max-height: 121px;
		}

		@include media.bigMobile {
			margin-bottom: 2em;
			max-height: 150px;
		}

		@include media.mediumMobile {
			margin-bottom: 1.2em;
			max-height: 208px;
		}

		@media only screen and (max-width: 453px) {
			max-height: 186px;
		}

		@include media.smallMobile {
			margin-bottom: 1.8em;
		}

		&.expanded {
			max-height: 100%;
			overflow: visible;
		}
	}

	&__block-title {
		margin-bottom: 0.5349em;
		font-size: 2.15em;
		letter-spacing: 0.05em;
		line-height: 1.3em;

		@include media.bigMobile {
			margin-bottom: 0.75em;
			font-size: 2.2em;
		}

		@include media.mediumMobile {
			margin-bottom: 0.626em;
			font-size: 2.3em;
		}
	}

	&__list {
		padding-left: 1.25em;
		margin-bottom: 1.15em;
		list-style-type: disc;

		@include media.bigMobile {
			margin-bottom: 1.65em;
		}

		@include media.mediumMobile {
			margin-bottom: 1.44em;
		}
	}

	&__item {
		font-size: 1.15em;
		line-height: 1.4em;
		letter-spacing: var(--basic-letter-spacing);

		@include media.bigMobile {
			font-size: 1.65em;
		}

		@include media.mediumMobile {
			font-size: 1.8em;
		}
	}

	&__item-link {
		display: inline-block;
		color: var(--main-green);
		outline: none;
		cursor: pointer;
		opacity: 0.9;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			box-shadow: 0 2px 0 0 var(--red)
		}

		@include media.focusVisible {
			box-shadow: 0 2px 0 0 var(--red)
		}
	}

	&__block-subtitle {
		margin-bottom: 0.575em;
		font-size: 2em;
		letter-spacing: 0.05em;
		line-height: 1.3em;

		@include media.bigMobile {
			margin-bottom: 0.8049em;
			font-size: 2.05em;
		}

		@include media.mediumMobile {
			margin-bottom: 0.6856em;
			font-size: 2.1em;
		}
	}

	&__more-btn {
		@extend %showMoreBtn;
		max-width: max-content;
		margin: 0 auto;
	}
}