@use '../../../styles/mixins';
@use '../../../styles/media';

.descriptions {
	@extend %photos-section;

	&__title {
		margin-bottom: 0.8em;
		font-size: 2.35em;
		letter-spacing: 0.05em;
		line-height: 1.3em;
		text-align: center;

		@include media.bigMobile {
			font-size: 2.45em;
		}

		@include media.mediumMobile {
			font-size: 2.55em;
		}
	}

	&__text {
		margin-bottom: 1em;
		font-size: 1.15em;
		line-height: 1.4em;
		letter-spacing: var(--basic-letter-spacing);

		@include media.bigMobile {
			font-size: 1.6em;
		}

		@include media.mediumMobile {
			font-size: 1.75em;
		}
	}

	&__block {
		// max-height: 100px;
		// overflow: hidden;
	}

	&__block-title {
		margin-bottom: 0.5349em;
		font-size: 2.15em;


		@include media.bigMobile {
			margin-bottom: 0.711em;
			font-size: 2.25em;
		}

		@include media.mediumMobile {
			font-size: 2.3em;
		}
	}

	&__list {
		padding-left: 1.25em;
		margin-bottom: 1.1em;
		list-style-type: disc;
	}

	&__item {
		font-size: 1.15em;
		line-height: 1.4em;
		letter-spacing: var(--basic-letter-spacing);

		@include media.bigMobile {
			font-size: 1.6em;
		}

		@include media.mediumMobile {
			font-size: 1.75em;
		}
	}

	&__item-link {
		color: var(--main-green);
		cursor: pointer;
	}

	&__block-subtitle {
		margin-bottom: 0.575em;
		font-size: 2em;

		@include media.bigMobile {
			margin-bottom: 0.7805em;
			font-size: 2.05em;
		}

		@include media.mediumMobile {
			font-size: 2.1em;
		}
	}
}