@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.examples {
	@extend %section;
	background-color: var(--white-251);

	&__texts {
		@include mixins.useFlex(center, center);
		flex-direction: column;
	}

	&__title {
		@extend %titleLevelTwo;
		margin-bottom: 1.2em;
		max-width: 90%;

		@include media.bigMobile {
			max-width: 100%
		}
	}

	&__info {
		@include mixins.useFlex(center, center);
		margin-bottom: 2.5em;
		padding-inline: 10px;
		min-width: 18em;
		height: 3.8em;
		font-size: clamp(15.5px, 1.92vw, 18px);
		letter-spacing: var(--basic-letter-spacing);
		border-radius: 15px;
		font-weight: 600;
		text-align: center;
		background-color: var(--dark-green);
		color: var(--white);

		@include media.bigMobile {
			font-size: clamp(14px, 3vw, 16.5px);
		}
	}

	&__items {
		@include mixins.useFlex(center, center);
		@extend %imagesCardsWrapper;
	}

	&__item {
		position: relative;
		@extend %imageCardBlock;
		transition: opacity 0.3s ease;
		opacity: 0;

		& svg {
			@extend %imageCardIcon;
		}

		@include media.hoverAndActive {
			.examples__item-img {
				filter: brightness(0.4);
			}

			svg {
				opacity: 1;
			}
		}

		&.visible {
			opacity: 1;
		}
	}

	&__item-link {
		position: relative;
		outline: none;

		@include media.focusVisible {
			.examples__item-img {
				outline: var(--focus-outline);
			}
		}
	}

	&__item-img {
		@extend %imageCard;
	}

	&__items-btn {
		@extend %showMoreBtn;
	}
}