@use '../../styles/mixins';
@use '../../styles/media';

.fancybox__caption {
	padding: 8px !important;
	font-size: 20px;
	text-align: center;

	@media only screen and (max-width: 578px) {
		padding: 6px !important;
		font-size: 18px;
	}
}

.f-carousel {
	max-width: 28em;

	@include media.tablet {
		max-width: 42em;
	}
}

.f-thumbs {
	margin-bottom: 20px !important;
	width: 100% !important;
}

.f-thumbs__slide__button {
	@include media.focusVisible {
		outline: var(--focus-outline) !important;
	}
}

.f-carousel__slide img {
	width: 24em;
	height: auto;

	@include media.tablet {
		width: 35em;
	}
}

.f-carousel__dots button {
	@include media.focusVisible {
		color: red;
	}
}

.f-carousel__nav button {
	@include media.focusVisible {
		box-shadow: none !important;
		color: red;
	}
}

.f-carousel__nav button:first-of-type {
	right: -15px !important;
}

.f-carousel__nav button:last-of-type {
	left: -15px !important;
}