@use '../../../../styles/media';
@use '../../../../styles/mixins';

.products__popup {
	@include mixins.fixed-center-fullscreen;
	@include mixins.flexCenter;
	@include mixins.hide;
	background-color: var(--black-alpha);
	z-index: 100;
	cursor: pointer;
	transition: opacity .2s ease;
}

.products__popup.visible {
	@include mixins.show;
}

.products__popup-content {
	position: relative;
	cursor: default;
}

.popup__img {
	@include mixins.sizes(50em, 30.9em);
}

.popup__text {
	position: absolute;
	align-content: center;
	width: 100%;
	min-height: 40px;
	font-size: 20px;
	bottom: 6px;
	background-color: var(--black-alpha);
	color: var(--white);
	text-align: center;
}

.products__popup-btn {
	@include mixins.sizes(38px, 38px);
	border-radius: 8px;
	position: absolute;
	bottom: 101%;
	left: 101%;
	background: var(--black);

	@include media.hoverAndActive {
		span {
			color: var(--main-green);
		}
	}

	& span {
		transition: var(--basic-transition);
		color: var(--white);
		font-size: 18px;
	}
}