@use '../../../styles/media';
@use '../../../styles/mixins';
@use '../../../styles/animations';

.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5em 1em;
	border-radius: 16px;
	width: 28em;
	height: max-content;
	background-image: url('../../../assets/delivery/aside-bg.webp');
	background-size: cover;
	background-position: center;

	@include media.bigMobile {
		width: 40em;
	}

	&.sticky {
		position: sticky;
		top: 8%;

		@include media.bigMobile {
			position: static;
		}
	}

	&__title {
		@extend %title-level-five;
		text-align: center;
		color: var(--white);
	}

	&__link {
		@extend %widgetBtn;

		&:not(:last-child) {
			margin-bottom: 2.5em;
		}

		@include media.bigMobile {
			padding: 1.6em 1.6em;
		}
	}
}