@use '../../../styles/mixins';
@use '../../../styles/media';

.products {
	padding-block: 4em;
	background-color: var(--white);
	font-size: clamp(11px, 1.4vw, 16px);
	color: var(--text-main-color);

	@include media.bigMobile {
		font-size: clamp(7.4px, 1.9vw, 11px);
	}

	&__title {
		margin-bottom: 0.4em;
		font-size: 2.65em;
		letter-spacing: 0.05em;
		text-align: center;

		@include media.bigMobile {
			font-size: 2.9em;
			line-height: 1.1em;
			margin-bottom: 0.6em;
		}

		@include media.mediumMobile {
			font-size: 3.25em;
		}
	}

	&__text {
		margin-bottom: 1em;
		font-size: 1.6em;
		text-align: center;

		@include media.bigMobile {
			margin-bottom: 1.2em;
			font-size: 1.9em;
		}

		@include media.mediumMobile {
			font-size: 2.25em;
		}
	}

	&__types {
		display: flex;
		justify-content: center;
		column-gap: 1.25em;
		margin-bottom: 3.275em;
		font-size: clamp(10.8px, 1.4vw, 16.5px);

		@include media.bigMobile {
			flex-wrap: wrap;
			row-gap: 1.25em;
			font-size: clamp(12px, 2.25vw, 14px);
		}

		@include media.mediumMobile {
			font-size: 13px;
		}
	}

	&__types-btn {
		flex: 0 0 calc((100% - (3 * 1.25em)) / 4);
		max-width: 250px;
		height: 4em;
		background-color: var(--black);
		border-radius: 15px;
		border: none;
		transition: all .3s ease;
		font-weight: 600;
		color: var(--white);
		cursor: pointer;

		@include media.hoverAndActive {
			border-radius: 25px;
		}

		@include media.focusVisible {
			outline: var(--focus-outline);
		}

		@include media.bigMobile {
			flex-basis: calc((80% - 1.25em) / 2);
		}

		@include media.mediumMobile {
			flex-basis: 100%;
			max-width: 210px;
			padding: 1.1em 0.5em;
		}
	}

	&__types-btn.active {
		background-color: var(--main-green);
	}

	&__items {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 1.5625em;
		font-size: clamp(10px, 1.35vw, 18px);

		@include media.bigMobile {
			font-size: clamp(10px, 2vw, 15px);
		}

		@include media.mediumMobile {
			font-size: clamp(12px, 3.6vw, 18px);
		}
	}

	&__items.oneRow {
		justify-content: center;
	}

	&__item {
		@include mixins.flexCenter;
		flex-direction: column;
		row-gap: .375em;
		flex: 0 0 calc((100% - 2 * 1.5625em) / 3);
		cursor: pointer;
		text-align: center;
		font-weight: 600;

		@include media.bigMobile {
			flex-basis: calc((100% - 1 * 1.5625em) / 2);
		}

		@include media.mediumMobile {
			flex-basis: 100%;
		}

		@include media.hoverAndActive {
			.products__item-img {
				filter: brightness(0.4);
			}

			svg {
				opacity: 1;
			}

			.products__item-text {
				text-decoration: underline;
				text-decoration-skip-ink: none;
				text-decoration-color: var(--black);
			}
		}
	}

	&__item-btn {
		position: relative;

		@include media.focusVisible {
			.products__item-img {
				outline: var(--focus-outline);
			}
		}

		svg {
			@include mixins.abs-center;
			@include mixins.sizes(30px, 30px);
			opacity: 0;
			transition: var(--basic-transition);

			@include media.hoverAndActive {
				@include mixins.sizes(32px, 32px);
			}
		}
	}

	&__item-img {
		@include mixins.sizes(19.5em, 13.5em);
		border-radius: 10px;
		transition: filter .3s ease;
	}

	&__item-text {
		font-size: 1em;
	}
}