@use '../../../styles/mixins';
@use '../../../styles/media';

.products {
	@extend %photos-section;
	background-color: var(--white);

	&__title {
		@extend %title-level-two
	}

	&__text {
		margin-bottom: 1.4em;
		font-size: 1.3em;
		text-align: center;

		@include media.bigMobile {
			font-size: 1.8em;
		}

		@include media.mediumMobile {
			font-size: 1.95em;
		}
	}

	&__types {
		display: flex;
		justify-content: center;
		column-gap: 3em;
		margin-bottom: 3.275em;

		@include media.bigMobile {
			flex-wrap: wrap;
			row-gap: 1.25em;
			font-size: clamp(12px, 2.3vw, 15px);
		}

		@include media.mediumMobile {
			font-size: 14px;
		}
	}

	&__types-btn {
		flex: 0 0 calc((100% - (3 * 3em)) / 4);
		padding-inline: 12px;
		max-width: 260px;
		height: 3.7em;
		background-color: var(--black);
		border-radius: 15px;
		border: none;
		transition: background-color .3s ease, border-radius .5s ease;
		font-weight: 600;
		color: var(--white);
		cursor: pointer;

		@include media.hoverAndActive {
			border-radius: 20px;
		}

		@include media.focusVisible {
			outline: var(--focus-outline);
		}

		@include media.bigMobile {
			flex-basis: calc((80% - 1.25em) / 2);
			max-width: 220px;
		}

		@include media.mediumMobile {
			flex-basis: 100%;
			max-width: 200px;
			height: 3.4em;
		}

		& span {
			font-size: 1em;
		}
	}

	&__types-btn.active {
		background-color: var(--main-green);
	}

	&__items {
		@include mixins.flexStartStart;
		@extend %images-cards;
	}

	&__items.oneRow {
		justify-content: center;
	}

	&__item {
		@extend %image-card;
		row-gap: 0.175em;
		transition: opacity 0.3s ease;
		opacity: 0;

		&.visible {
			opacity: 1;
		}

		& svg {
			@extend %image-card-svg;
		}

		@include media.hoverAndActive {
			.products__item-img {
				filter: brightness(0.4);
			}

			svg {
				opacity: 1;
			}

			.products__item-text {
				text-decoration: underline;
				text-decoration-skip-ink: none;
				text-decoration-color: var(--black);
			}
		}
	}

	&__item-link {
		position: relative;
		outline: none;

		@include media.focusVisible {
			.products__item-img {
				outline: var(--focus-outline);
			}
		}
	}

	&__item-img {
		@extend %image-card-img;
	}

	&__item-text {
		font-size: 0.9em;

		@include media.tablet {
			font-size: 1em;
		}
	}
}