@use '../../../styles/mixins';
@use '../../../styles/media';

.descriptions {
	@extend %section;

	&__header {
		margin-bottom: 0.8em;
		font-size: 1.9em;
		letter-spacing: 0.05em;
		line-height: 1.3;
		text-align: center;

		@include media.bigMobile {
			font-size: 2.45em;
		}

		@include media.mediumMobile {
			font-size: 2.55em;
		}
	}

	&__text {
		@extend %usefulTextFonts;
	}

	&__title {
		@extend %titleLevelFive;
	}

	&__list {
		@extend %usefulTextList;
	}

	&__item {
		@include mixins.usefulTextItemMarker('../../../assets/MainPage/list-marker.svg');
		@extend %usefulTextItem;
	}

	&__item-link {
		color: var(--dark-green);
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			box-shadow: 0 2px 0 0 var(--red)
		}

		@include media.focusVisible {
			box-shadow: 0 2px 0 0 var(--red)
		}
	}

	&__subtitle {
		@extend %titleLevelSix;
	}
}