@use '../../../styles/media';
@use '../../../styles/mixins';
@use '../../../styles/animations';

.price {
	@extend %section;
	background: var(--gray-bg-gradient);

	&__title {
		@extend %titleLevelTwo;
		margin-bottom: 1.2em;
	}

	&__info {
		@include mixins.useFlex(space-around, center);

		@include media.bigMobile {
			justify-content: center;
		}
	}

	&__info-img {
		@include mixins.sizes(18em, 28em);
		animation: scaleAndDropShadowImage 4.3s infinite ease-in-out;

		&.desktop {
			display: block;
			margin-right: 15px;

			@include media.bigMobile {
				display: none;
			}
		}

		&.mobile {
			display: none;

			@include media.bigMobile {
				display: block;
				@include mixins.sizes(24em, 36em);
			}

			@include media.mediumMobile {
				@include mixins.sizes(27em, 40em);
			}
		}
	}

	&__text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 50px;
		max-width: 60%;

		@include media.bigMobile {
			max-width: 93%;
		}

		@include media.mediumMobile {
			max-width: 100%;
			row-gap: 38px;
		}
	}

	&__info-text {
		@extend %mainTextsFonts;
		text-align: center;
	}

	&__info-subtext {
		@extend %mainSubtextsFonts;
		text-align: center;
	}

	&__info-link {
		@include mixins.mainPageLink(26em, 32em, 38em);
	}
}