@use '../../../styles/media';
@use '../../../styles/mixins';
@use '../../../styles/animations';

.price {
	@extend %section;
	background: var(--gray-bg-gradient);

	&__title {
		@extend %titleLevelTwo;
		margin-bottom: 1.2em;
	}

	&__info {
		@include mixins.useFlex(space-around, center);

		@include media.bigMobile {
			justify-content: center;
		}
	}

	&__info-img {
		@include mixins.sizes(17.5em, 27.5em);
		animation: scaleAndDropShadowImage 4.3s infinite ease-in-out;

		&.desktop {
			display: block;
			margin-right: 15px;

			@include media.bigMobile {
				display: none;
			}
		}

		&.mobile {
			display: none;

			@include media.bigMobile {
				display: block;
				@include mixins.sizes(24em, 36em);
			}

			@include media.mediumMobile {
				@include mixins.sizes(27em, 40em);
			}
		}
	}

	&__text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 50px;
		max-width: 60%;

		@include media.bigMobile {
			max-width: 93%;
		}

		@include media.mediumMobile {
			max-width: 100%;
			row-gap: 38px;
		}
	}

	&__info-text {
		@extend %mainTextsFonts;
		text-align: center;
	}

	&__info-subtext {
		@extend %mainSubtextsFonts;
		text-align: center;
	}

	&__info-link {
		position: relative;
		@include mixins.useFlex(space-around, center);
		column-gap: .625em;
		padding: 1.5em 2.5em;
		overflow: hidden;
		opacity: 0.9;
		background-color: var(--dark-green);
		border-radius: 15px;
		transition: var(--basic-transition);
		font-weight: 600;
		color: var(--white);
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background: var(--white);
			@include mixins.sizes(10%, 300%);
			transform: rotate(45deg) translateY(-50%);
			animation: glare 3s linear infinite;
			opacity: 0.8;
		}

		@include media.bigMobile {
			padding: 2em 3.3em;
		}

		@include media.mediumMobile {
			padding-block: 2.2em;
		}

		@include media.hoverAndActive {
			opacity: 1;
		}

		@include media.focusVisible {
			outline: var(--focus-outline);
		}

		& span {
			font-size: 1.2em;
			font-weight: 600;
			white-space: nowrap;

			@include media.bigMobile {
				font-size: 1.45em;
			}

			@include media.mediumMobile {
				font-size: 1.85em;
			}
		}

		& img {
			width: 26px;
			animation: scaleAndRotate 2.2s linear infinite;

			@include media.bigMobile {
				width: 23px;
			}
		}
	}
}