@use '../../styles/mixins';
@use '../../styles/media';
@use '../../styles/animations';

.header {
	padding-top: .625rem;
	background: var(--black);

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: .625rem;
		border-bottom: 2px solid var(--white);
	}

	&__texts {
		@extend %texts-fonts;
	}

	&__logo {
		width: 10%;

		@include media.bigMobile {
			width: 16%;
		}

		@include media.mediumMobile {
			width: 22%;
		}
	}

	&__logo-img {
		@include mixins.sizes(100%, auto);
		border-radius: 10%;
	}

	&__logo-link {
		display: inline-block;
	}

	&__text {
		max-width: min-content;

		@include media.bigMobile {
			max-width: 140px;
		}

		@include media.mediumMobile {
			display: none;
		}
	}

	&__adress {
		@include mixins.flexCenter;
		column-gap: .31rem;

		@include media.bigMobile {
			display: none;
		}
	}

	&__adress-text {
		max-width: min-content;
	}

	&__adress-img {
		@include mixins.sizes(1.62rem, auto);
		cursor: default
	}

	&__socials {
		@include mixins.flexCenter;
		flex-direction: column;
		row-gap: .31rem;

		@include media.bigMobile {
			display: none;
		}
	}

	&__socials-links {
		display: flex;
		column-gap: 1rem;
	}

	&__socials-text {
		position: relative;

		&::before {
			@extend %header-blink-animation
		}
	}

	&__social-link {
		display: inline-block;
		@include mixins.sizes(2.9rem, auto);
		text-decoration: none;

		& svg {
			@include mixins.sizes(100%, 100%);
			transition: var(--basic-transition);

			@include media.hoverAndActive {
				transform: scale(1.1);
			}
		}
	}

	&__callUs {
		@include mixins.flexCenter;
		flex-direction: column;
		row-gap: .31rem;

		@include media.mediumMobile {
			row-gap: .71rem;
		}
	}

	&__callUs-text {
		&::before {
			@extend %header-blink-animation;
		}
	}

	&__callUs-link {
		font-size: 1.112rem;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			color: var(--main-green);
		}

		@include media.bigMobile {
			font-size: 1.612rem;
		}

		@include media.mediumMobile {
			font-size: 1.912rem;
		}
	}

	&__callUs-btn {
		padding: .7rem;
		font-size: 1.112rem;
		border: none;
		border-radius: .62rem;
		cursor: pointer;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			transform: var(--scale);
		}

		@include media.bigMobile {
			padding: 1rem;
			font-size: 1.312rem;
		}

		@include media.mediumMobile {
			padding: 1.3rem;
			font-size: 1.512rem;
		}
	}

	&__burger {
		display: none;
		position: relative;
		@include mixins.sizes(45px, 45px);
		background-color: var(--white);
		border-radius: 50%;
		cursor: pointer;

		@include media.bigMobile {
			@include mixins.flexCenter;
			flex-direction: column;
			row-gap: 6px;
		}

		&::before {
			@include mixins.increaseClickableArea;
		}
	}

	&__burger-line {
		@include mixins.sizes(23px, 2px);
		background-color: var(--main-green);
		transition: transform .3s ease-in-out;

		&_active {
			position: absolute;

			&:first-child {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
				transform-origin: center center;
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
				transform-origin: center center;
			}
		}
	}
}

.nav {
	border-bottom: 2px solid var(--white);

	@include media.bigMobile {
		position: absolute;
		inset: 0;
		@include mixins.flexCenter;
		@include mixins.sizes(100vw, 100vh);
		background-color: #839e9e;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@include media.bigMobile {
			flex-direction: column;
			flex-basis: 50%;
		}
	}

	&__item {
		transition: var(--basic-transition);
		padding: 1.02rem;
		letter-spacing: var(--basic-letter-spacing);
		cursor: pointer;
		min-width: max-content;

		@include media.bigMobile {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
		}

		@media only screen and (min-width: 769px) {
			&:hover .nav__menu {
				opacity: 1;
				pointer-events: all;
			}
		}

		@include media.hoverAndActive {
			color: var(--main-green);
		}
	}

	&__item-link {
		font-size: 1.25rem;
		letter-spacing: var(--basic-letter-spacing);

		@include media.bigMobile {
			font-size: 2.8rem;
		}
	}

	&__menu {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		padding: 1.02rem;
		background-color: #F5F8F9;
		color: var(--black);
		opacity: 0;
		pointer-events: none;
		transition: var(--basic-transition);

		@include media.bigMobile {
			position: static;
			padding: 0;
			opacity: 1;
			pointer-events: all;
			border-top: none;
			background-color: transparent;
			padding-top: 3.125vw;
			display: none;
		}

		&_open {
			display: block;
		}

	}

	&__menu-item {
		&:not(:last-child) {
			padding-bottom: 3.6px;
		}

		&:hover {
			text-decoration: underline;
			text-decoration-skip-ink: none;
			text-decoration-color: var(--black);
		}
	}

	&__menu-link {
		font-size: 1rem;
		letter-spacing: var(--basic-letter-spacing);
		white-space: nowrap;

		@include media.bigMobile {
			font-size: 2.5rem;
			color: var(--white);
		}
	}

	&__dropdown-item {
		position: relative;

		&:after {
			content: '';
			@include mixins.sizes(8px, 8px);
			display: inline-block;
			border-left: 2px solid var(--white);
			border-bottom: 2px solid var(--white);
			transform: translateY(-50%) rotate(-45deg);
			margin-inline: 5px;

			@include media.bigMobile {
				position: absolute;
				top: 28px;
				right: 0
			}
		}

		@media only screen and (min-width: 769px) {
			@include media.hoverAndActive {
				background-color: var(--white);
				color: var(--main-green);
			}
		}

		&:hover::after {
			border-color: var(--main-green);
		}

	}
}