@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.nav {
	font-size: clamp(12px, 1.6vw, 16px);
	border-bottom: var(--border-b-white-2);
	transition: background-color .2s ease-in-out;

	&_fixed {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		width: 100vw;
		background-color: var(--black);
		border-bottom: none;
	}

	@include media.bigMobile {
		position: fixed;
		inset: 0;
		z-index: 1;
		@include mixins.useFlex(center, flex-start);
		padding-block: 20em 4em;
		@include mixins.sizes(100vw, 100vh);
		font-size: clamp(9px, 2vw, 12px);
		@include mixins.setBackgroundImage('../../../assets/header/mobile-nav-bg.jpg')
	}

	@include media.bigMobile {
		&_open {
			animation: smoothShow 0.4s forwards;
		}

		&_hide {
			animation: smoothHide 0.4s forwards;
		}
	}

	&__list {
		@include mixins.useFlex(space-around, center);

		@include media.bigMobile {
			flex-direction: column;
			padding: 1.6em 1.8em;
			max-height: 60svh;
			overflow: hidden auto;
			flex-basis: 70%;
			background: rgb(255 255 255 / 85%);
			border-radius: 15px;
		}

		@include media.mediumMobile {
			flex-basis: 82%;
		}
	}

	&__item {
		padding: 1em;
		transition: var(--basic-transition);
		color: var(--white);

		@include media.bigMobile {
			@include mixins.useFlex(center, flex-start);
			flex-direction: column;
			padding: 0;
			margin-bottom: 1.5em;
			width: 100%;
			color: var(--black);

			@include media.hoverAndActive {

				.nav__item-link.hasDropdown,
				.nav__item-arrow {
					color: var(--main-green)
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link-wrapper {
		@include media.bigMobile {
			@include mixins.useFlex(space-between, center);
			width: 100%;
		}

		&:before {
			content: "";
			position: absolute;
			display: block;
			inset: -0px;

			@include media.bigMobile {
				content: unset;
			}
		}
	}

	&__item-link {
		position: relative;
		font-size: 1em;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		font-weight: 600;
		transition: all 0.2s ease-out;

		@include media.bigMobile {
			font-size: 1.9em;
		}

		@include media.mediumMobile {
			font-size: 2.1em;
		}

		@include media.hoverAndActive {
			color: var(--main-green)
		}

		@include media.focusVisible {
			outline: none;
			box-shadow: var(--focus-shadow);
		}

		&::before {
			@include mixins.increaseClickableArea;
		}
	}

	&__menu {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		padding: 0.9em;
		background-color: var(--white);
		border-top: 1px solid rgb(28 28 28 / 17%);
		color: var(--black);
		@include mixins.hide;
		transition: all 0.2s ease-in-out;

		@include media.bigMobile {
			position: static;
			padding: 0;
			@include mixins.hide;
			border-top: none;
			background-color: transparent;
			max-height: 0;
			overflow: hidden;
		}

		&_open {
			@include mixins.useFlex(center, flex-start);
			flex-direction: column;
			@include mixins.show;

			@include media.bigMobile {
				padding: 1em 0;
				margin-left: 0.8em;
				max-height: 550px;
				overflow: visible;
			}
		}
	}

	&__menu-item {
		&:not(:last-child) {
			padding-bottom: 6px;
		}
	}

	&__menu-link {
		font-size: 0.95em;
		letter-spacing: var(--basic-letter-spacing);
		white-space: nowrap;
		color: var(--black);
		transition: all 0.1s ease-in-out;

		@include media.bigMobile {
			font-size: 1.7em;
		}

		@include media.mediumMobile {
			font-size: 1.8em;
		}

		@include media.hoverAndActive {
			outline: none;
			box-shadow: var(--focus-shadow);
		}

		@include media.focusVisible {
			outline: none;
			box-shadow: var(--focus-shadow);
		}
	}

	&__dropdown-item {
		position: relative;
		cursor: pointer;

		& .nav__item-link {
			margin-right: 5px;

			@include media.bigMobile {
				margin-right: 8px;
			}
		}

		&_open {
			color: var(--main-green);
			background-color: var(--white);
			margin-bottom: 0;

			.nav__item-arrow {
				color: var(--main-green);
			}

			@include media.bigMobile {
				background: transparent;
			}
		}
	}

	&__item-arrow {
		font-size: 1rem;
		transition: all 0.2s ease-out;
		display: inline-block;

		@include media.bigMobile {
			font-size: 2em;
			transition-property: all;
			color: var(--black)
		}

		&_open {
			transform: rotate(180deg);
		}
	}
}