@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.nav {
	font-size: clamp(12px, 1.6vw, 16px);
	border-bottom: var(--border-b-white-2);

	&_fixed {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		width: 100vw;
		background: var(--black);
		border-bottom: none;

		.nav__item {
			padding: 1em;
		}

		.nav__item-link {
			font-size: 1.05em;
		}

		.nav__menu-link {
			font-size: var(--fz_1em)
		}
	}

	@include media.bigMobile {
		position: fixed;
		inset: 0;
		z-index: 1;
		@include mixins.flexCenterStart;
		padding-block: 17em 4em;
		@include mixins.sizes(100vw, 100vh);
		font-size: clamp(9px, 2vw, 12px);
		background-color: #F5F8F9;
	}

	@include media.bigMobile {
		&_open {
			animation: navShow 0.4s forwards;
		}

		&_hide {
			animation: navHide 0.4s forwards;
		}
	}

	&__list {
		@include mixins.flexSpaceAroundCenter;

		@include media.bigMobile {
			flex-direction: column;
			padding: 1.4em 1.8em;
			max-height: 100%;
			overflow: hidden auto;
			flex-basis: 70%;
			background: #ffffffd6;
			border-radius: 25px;
		}

		@include media.mediumMobile {
			flex-basis: 82%;
		}
	}

	&__item {
		padding: 1em;
		transition: var(--basic-transition);
		letter-spacing: var(--basic-letter-spacing);
		color: var(--white);
		cursor: pointer;

		@include media.hoverAndActive {

			.nav__item-link,
			.nav__item-arrow {
				color: var(--main-green)
			}
		}

		@include media.bigMobile {
			@include mixins.flexCenterStart;
			flex-direction: column;
			padding: 0;
			margin-bottom: 1.3em;
			width: 100%;
			color: var(--black);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__link-wrapper {
		@include media.bigMobile {
			@include mixins.flexSpaceBetweenCenter;
			width: 100%;
		}

		&:before {
			content: "";
			position: absolute;
			display: block;
			inset: -0px;

			@include media.bigMobile {
				content: unset;
			}
		}
	}

	&__item-link {
		font-size: 1em;
		letter-spacing: var(--basic-letter-spacing);
		text-transform: uppercase;
		font-weight: 600;

		@include media.bigMobile {
			transition: color 0.3s ease;
			font-size: 2em;
		}

		@include media.mediumMobile {
			font-size: 2.4em;
		}

		@include media.smallMobile {
			font-size: 2.1em;
		}

		@include media.focusVisible {
			outline: none;
			box-shadow: var(--focus-shadow);
		}
	}

	&__menu {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		padding: 0.9em;
		background-color: var(--white);
		border-top: 1px solid rgb(28 28 28 / 17%);
		color: var(--black);
		@include mixins.hide;
		transition: all 0.3s ease-in-out;

		@include media.bigMobile {
			position: static;
			padding: 0;
			@include mixins.hide;
			border-top: none;
			background-color: transparent;
			max-height: 0;
			overflow: hidden;
		}

		&_open {
			@include mixins.flexCenterStart;
			flex-direction: column;
			@include mixins.show;

			@include media.bigMobile {
				padding: 1em 0;
				margin-left: 0.8em;
				max-height: 550px;
				overflow: visible;
			}
		}
	}

	&__menu-item {
		&:not(:last-child) {
			padding-bottom: 3.6px;
		}
	}

	&__menu-link {
		font-size: 0.9em;
		letter-spacing: var(--basic-letter-spacing);
		white-space: nowrap;
		color: var(--black);

		@include media.bigMobile {
			font-size: 1.75em;

		}

		@include media.mediumMobile {
			font-size: 2em;
		}

		@include media.smallMobile {
			font-size: 1.9em;
		}

		@include media.hoverAndActive {
			outline: none;
			box-shadow: var(--focus-shadow);
		}

		@include media.focusVisible {
			outline: none;
			box-shadow: var(--focus-shadow);
		}
	}

	&__dropdown-item {
		position: relative;

		& .nav__item-link {
			margin-right: 5px;

			@include media.bigMobile {
				margin-right: 8px;
			}
		}

		&_open {
			color: var(--main-green);
			background-color: var(--white);
			margin-bottom: 0;

			.nav__item-arrow {
				color: var(--main-green);
			}
		}
	}

	&__item-arrow {
		font-size: 1rem;
		transition: transform .3s ease;
		display: inline-block;

		@include media.bigMobile {
			font-size: 2em;
			transition-property: all;
			color: var(--black)
		}

		&_open {
			transform: rotate(180deg);
		}
	}
}