@use '../../../styles/mixins';
@use '../../../styles/media';

.nav {
	font-size: clamp(9px, 1.5vw, 16px);
	border-bottom: 2px solid var(--white);

	@include media.bigMobile {
		position: fixed;
		inset: 0;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-top: 22em;
		padding-bottom: 4em;
		@include mixins.sizes(100vw, 100vh);
		opacity: 0;
		pointer-events: none;
		transition: var(--basic-transition);
		background-color: #F5F8F9;
	}

	&.open {
		opacity: 1;
		pointer-events: all;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@include media.bigMobile {
			max-height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			flex-direction: column;
			flex-basis: 80%;
			padding: 1em;
			background: #ffffffd6;
			border-radius: 25px;
		}
	}

	&__item {
		transition: var(--basic-transition);
		padding: 1.02em;
		letter-spacing: var(--basic-letter-spacing);
		cursor: pointer;
		min-width: max-content;

		@include media.bigMobile {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
		}

		@include media.hoverAndActive {

			.nav__item-link,
			.nav__item-arrow {
				color: var(--main-green)
			}
		}

		@media only screen and (min-width: 769px) {

			&:hover .nav__menu {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&__link-wrapper {
		@include media.bigMobile {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
	}

	&__item-link {
		font-size: 1.05em;
		letter-spacing: var(--basic-letter-spacing);
		text-transform: uppercase;
		color: var(--white);
		font-weight: 600;

		@include media.bigMobile {
			font-size: 2.3em;
			color: var(--black);
		}

		@include media.smallMobile {
			font-size: 2.1em;
		}
	}

	&__menu {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		padding: 1.02em;
		background-color: var(--white);
		border-top: 1px solid rgb(28 28 28 / 17%);
		color: var(--black);
		opacity: 0;
		pointer-events: none;
		transition: var(--basic-transition);

		@include media.bigMobile {
			position: static;
			display: none;
			padding: 0;
			padding: 1em 0 0 1em;
			opacity: 1;
			pointer-events: all;
			border-top: none;
			background-color: transparent;
		}
	}

	&__menu.open {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__menu-item {
		&:not(:last-child) {
			padding-bottom: 3.6px;
		}

		@include media.hoverAndActive {
			text-decoration: underline;
			text-decoration-skip-ink: none;
			text-decoration-color: var(--black);
		}
	}

	&__menu-link {
		font-size: 1em;
		letter-spacing: var(--basic-letter-spacing);
		white-space: nowrap;
		color: var(--black);

		@include media.bigMobile {
			font-size: 2em;
		}

		@include media.smallMobile {
			font-size: 1.8em;
		}

	}

	&__dropdown-item {
		position: relative;

		@media only screen and (min-width: 769px) {
			@include media.hoverAndActive {
				background-color: var(--white);
				color: var(--main-green);

				.nav__item-arrow {
					transform: rotate(180deg);
					color: var(--main-green);
				}
			}
		}

		& .nav__item-link {
			margin-right: 5px;

			@include media.bigMobile {
				margin-right: 8px;
			}
		}
	}

	&__item-arrow {
		font-size: 1rem;
		transition: transform .3s ease;
		display: inline-block;
		color: var(--white);

		@include media.bigMobile {
			font-size: 2.2em;
			transition-property: all;
			color: var(--black)
		}
	}

	&__item-arrow.open {
		transform: rotate(180deg)
	}
}