@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.socials {
	display: flex;

	&-header {
		column-gap: 1em;
	}

	&-footer {
		column-gap: 1.4em;
		justify-content: center;
	}

	&__link {
		display: inline-block;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			transform: scale(1.1);
		}

		@include media.focusVisible {
			outline: none;
			animation: scale 2.2s infinite;
		}

		&-sizes {
			@include mixins.sizes(2.5em, auto);
		}

		&-contacts-sizes {
			@include mixins.sizes(2.8em, auto);

			@include media.bigMobile {
				width: 4.2em;
			}
		}

		& svg {
			@include mixins.sizes(100%, 100%);
		}
	}
}