@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.socials {
	display: flex;

	&-header {
		column-gap: 1em;
	}

	&-footer {
		column-gap: 1.4em;
		justify-content: center;
	}

	&-contacts {
		column-gap: 1.4em;
		justify-content: center;

		@include media.bigMobile {
			column-gap: 1.9em;
		}

		@include media.mediumMobile {
			column-gap: 2.4em;
		}
	}

	&__link {
		display: inline-block;
		transition: var(--basic-transition);
		outline: none;


		@include media.hoverAndActive {
			transform: scale(1.1);
		}

		@include media.focusVisible {
			animation: scale 2.2s infinite;
		}
	}

	&__link-sizes,
	&__link-sizes>svg {
		@include mixins.sizes(2.5em, 2.5em);
	}

	&__link-contacts-sizes>svg {
		@include mixins.sizes(3.2em, 3.2em);

		@include media.bigMobile {
			@include mixins.sizes(4.2em, 4.2em);
		}

		@include media.mediumMobile {
			@include mixins.sizes(5.5em, 5.5em);
		}
	}

	&__link-footer-sizes,
	&__link-footer-sizes>svg {
		@include mixins.sizes(2.8em, 2.8em);

		@include media.bigMobile {
			@include mixins.sizes(4.2em, 4.2em);
		}
	}
}