@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.examples {
	@extend %photos-section;
	background-color: rgb(223, 221, 221);

	&__texts {
		@include mixins.flexCenter;
		flex-direction: column;
	}

	&__title {
		@extend %title-level-two
	}

	&__info {
		align-content: center;
		min-width: 17em;
		font-size: 1.2em;
		height: 4em;
		border-radius: 15px;
		font-weight: 600;
		text-align: center;
		background-color: var(--main-green);
		color: var(--white);
		margin-bottom: 2.5em;

		@include media.bigMobile {
			font-size: 1.5em;
		}

		@include media.smallMobile {
			font-size: 1.8em;
		}
	}

	&__items {
		@include mixins.flexCenter;
		@extend %images-cards;
		margin-bottom: 20px;
	}

	&__item {
		position: relative;
		@extend %image-card;
		transition: opacity 0.3s ease;
		opacity: 0;

		& svg {
			@extend %image-card-svg;
		}

		@include media.hoverAndActive {
			.examples__item-img {
				filter: brightness(0.4);
			}

			svg {
				opacity: 1;
			}
		}

		&.visible {
			opacity: 1;
		}
	}

	&__item-img {
		@extend %image-card-img;
	}

	&__items-btn {
		position: relative;
		@include mixins.flexCenter;
		column-gap: 7px;
		padding-bottom: 2px;
		font-size: 20px;
		transition: all 0.45s ease-in-out;
		color: var(--main-green);

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			border-bottom: 2px dotted var(--main-green);
			transition: var(--basic-transition);
		}


		& svg {
			transition: var(--basic-transition);
			width: 19px;
			height: 19px;
			fill: var(--main-green);
		}

		@include media.hoverAndActive {
			color: var(--main-green);

			& svg {
				transform: rotate(180deg);
			}

			&::after {
				width: 50%;
			}
		}
	}
}