@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.examples {
	@extend %photos-section;
	background-color: var(--white-251);

	&__texts {
		@include mixins.flexCenter;
		flex-direction: column;
	}

	&__title {
		@extend %title-level-two;
		margin-bottom: 1em;
	}

	&__info {
		@include mixins.flexCenter;
		margin-bottom: 2.5em;
		padding-inline: 10px;
		min-width: 18em;
		font-size: clamp(15.5px, 1.92vw, 19px);
		height: 3.8em;
		border-radius: 15px;
		font-weight: 600;
		text-align: center;
		background-color: var(--main-green);
		color: var(--white);

		@include media.bigMobile {
			font-size: clamp(15.8px, 3.1vw, 17.5px);
		}

		@include media.smallMobile {
			font-size: 2em;
		}
	}

	&__items {
		@include mixins.flexCenter;
		@extend %images-cards;
	}

	&__item {
		position: relative;
		@extend %image-card;
		transition: opacity 0.3s ease;
		opacity: 0;

		& svg {
			@extend %image-card-svg;
		}

		@include media.hoverAndActive {
			.examples__item-img {
				filter: brightness(0.4);
			}

			svg {
				opacity: 1;
			}
		}

		&.visible {
			opacity: 1;
		}
	}

	&__item-link {
		position: relative;
		outline: none;

		@include media.focusVisible {
			.examples__item-img {
				outline: var(--focus-outline);
			}
		}
	}

	&__item-img {
		@extend %image-card-img;
	}

	&__items-btn {
		position: relative;
		@include mixins.flexCenter;
		column-gap: 7px;
		padding-bottom: 4px;
		font-size: 20px;
		transition: all 0.45s ease-in-out;
		color: var(--main-green);

		@include media.bigMobile {
			font-size: 18px;
		}

		@include media.mediumMobile {
			font-size: 17px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			border-bottom: 2px dotted var(--main-green);
			transition: var(--basic-transition);
		}

		& svg {
			transition: var(--basic-transition);
			@include mixins.sizes(18px, 18px);
			fill: var(--main-green);
		}

		@include media.hoverAndActive {
			color: var(--main-green);

			& svg {
				transform: rotate(180deg);
			}

			&::after {
				width: 50%;
			}
		}
	}
}