@use '../../../../styles/mixins';
@use '../../../../styles/media';
@use '../../../../styles/animations';

.callUs {
	@include mixins.flexCenter;
	flex-direction: column;
	row-gap: .31em;
	font-weight: 600;

	@include media.mediumMobile {
		row-gap: 0.61em;
	}

	&__link {
		font-size: 0.9em;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			color: var(--main-green);
		}

		@include media.bigMobile {
			font-size: 1.3em;
		}

		@include media.mediumMobile {
			font-size: 1.712em;
			letter-spacing: .0313em;
		}
	}

	&__btn {
		padding: .6em;
		font-size: 0.9em;
		border-radius: .62em;
		transition: var(--basic-transition);
		background-color: var(--white);

		@include media.hoverAndActive {
			transform: var(--scale);
		}

		@include media.bigMobile {
			padding: 0.8em;
			font-size: 1.1em;
		}

		@include media.mediumMobile {
			padding: 0.9em;
			font-size: 1.312em;
		}
	}
}