@use '../../../../styles/mixins';
@use '../../../../styles/media';
@use '../../../../styles/animations';

.callUs {
	@include mixins.flexCenter;
	flex-direction: column;
	row-gap: .31em;
	font-weight: 600;

	@include media.bigMobile {
		row-gap: 0.41em;
	}

	&>p span {
		font-weight: 400;
	}

	&__link {
		font-size: 1.05em;
		transition: var(--basic-transition);

		@include media.hoverAndActive {
			color: var(--main-green);
		}

		@include media.bigMobile {
			font-size: 1.6em;
		}

		@include media.mediumMobile {
			font-size: 1.85em;
			letter-spacing: .0313em;
		}

		@include media.focusVisible {
			outline: none;
			box-shadow: var(--focus-shadow);
		}
	}

	&__btn {
		position: relative;
		font-size: 1.1em;
		color: var(--main-green);
		padding-bottom: 2px;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			border-bottom: 1px dotted var(--main-green);
			transition: var(--basic-transition);
		}

		@include media.focusVisible {
			&::after {
				border-bottom: none;
				box-shadow: 0 1px 0 1px var(--red);
			}
		}

		@include media.hoverAndActive {
			&::after {
				width: 0%;
			}
		}

		@include media.desktop {
			font-size: 1.15em;
		}

		@include media.bigMobile {
			font-size: 1.6em;
		}

		@include media.mediumMobile {
			font-size: 1.9em;
			padding-bottom: 1px;
		}
	}
}