@use '../../styles/mixins';
@use '../../styles/media';

.footer {
	padding-block: 2.4em;
	font-size: clamp(12.5px, 1.550vw, 16px);
	background-color: var(--dark-bg);
	color: #CACACA;

	@include media.bigMobile {
		font-size: clamp(9.5px, 2.2vw, 11.3px);
		padding-bottom: 6em;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include media.bigMobile {
			flex-direction: column;
			align-items: center;
		}
	}
}