@use '../../../styles/mixins';
@use '../../../styles/media';
@use '../../../styles/animations';

.contacts__widget {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	z-index: 10;
	display: none;

	@include media.bigMobile {
		@include mixins.flexSpaceBetweenCenter;
		font-size: clamp(12px, 3vw, 16px);
	}

	& svg {
		@include mixins.sizes(2.1em, 2.1em)
	}

	&-telegram {
		@include mixins.flexSpaceBetweenCenter;
		background: rgb(38 125 165);
		flex-basis: 50%;
		min-height: 50px;
		outline: none;

		@include media.mediumMobile {
			min-height: 45px;
		}

		@include media.hoverAndActive {
			& svg {
				animation: scaleAndRotateQuestionsImg 1s infinite;
			}
		}

		@include media.focusVisible {
			border: 2px solid red;
		}
	}

	&-phone {
		@include mixins.flexSpaceBetweenCenter;
		background: #1e7c20;
		flex-basis: 50%;
		min-height: 50px;
		outline: none;

		@include media.mediumMobile {
			min-height: 45px;
		}

		@include media.hoverAndActive {
			& svg {
				animation: scaleAndRotateQuestionsImg 1s infinite;
			}
		}

		@include media.focusVisible {
			border: 2px solid red;
		}
	}

	&-text {
		font-size: 1.4em;
		letter-spacing: var(--basic-letter-spacing);
	}
}