@use '../../styles/mixins';
@use '../../styles/media';
@use '../../styles/animations';

.successful {
	@extend %section;

	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__text-wrapper {
		@include mixins.useFlex(center, center);
		flex-direction: column;
		row-gap: 2.2em;
	}

	&__title {
		@extend %titleLevelOne;
		margin: 0;
	}

	&__img {
		@include mixins.sizes(42em, auto);

		@include media.bigMobile {
			width: 38em;
		}
	}

	&__subtitle {
		@extend %titleLevelTwo;
		margin: 0;
	}

	&__link {
		@include mixins.mainPageLink(22em, 28em, 32em);
	}
}