@use "./styles/normalize";
@use "./styles/variables";
@use "./styles/media";
@use './styles/global.scss';
@use './styles/fonts.scss';
@use '../src/components/Header/HeaderTop/criticalHeaderTop.scss';
@use '../src/components/Header/Nav/criticalNav.scss';
@use '../src/components/MainPage/About/criticalAbout.scss';
@use '../src/components/FancyApp/fancyApp.scss';

html {
	font-size: clamp(12px, 1.4vw, 16px);
	user-select: none;
}

body {
	padding: 0;
	font-family: 'VelaSans', Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--white);
	min-height: 100%;
}

main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;

	@include media.bigMobile {
		min-height: 60vh;
	}
}