@use '../../styles/mixins';
@use '../../styles/media';
@use '../../styles/animations';

.contacts {
	padding-block: 3.5em;
	font-size: clamp(13px, 1.6vw, 16px);
	color: var(--text-main-color);
	@include mixins.setBackgroundImage('../../assets/contacts/bg.png');

	@include media.bigMobile {
		font-size: clamp(7.5px, 2vw, 12px);
	}

	&__wrapper {
		@include mixins.useFlex(space-between, center);

		@include media.bigMobile {
			flex-direction: column;
		}
	}

	&__title {
		@extend %titleLevelOne;
	}

	&__info-wrapper {
		display: flex;
		flex-direction: column;
		padding: 2.2em 1.5em;
		background-color: rgba(28, 28, 28, 0.96);
		border-radius: 15px;

		& div:not(:last-of-type) {
			margin-bottom: 1em;
		}

		@include media.bigMobile {
			margin-bottom: 5em;
			padding: 3em 2.5em;
		}
	}

	&__info-title {
		@extend %titleLevelThree;
		margin-bottom: 0.5em;
		color: var(--white);
	}

	&__info-img {
		align-self: center;
		width: 18em;
		animation: imgShadow 3s infinite;

		@include media.bigMobile {
			width: 21em;
		}

		@include media.mediumMobile {
			width: 26em;
		}
	}

	&__subtitle {
		@extend %titleLevelThree;
		margin-bottom: 0.5em;
		text-align: left
	}

	&__adress {
		@extend %contactsTextsFonts;
		font-style: normal;
		margin-bottom: 1em;
	}

	&__time,
	&__call,
	&__mail {
		@extend %contactsTextsFonts;
	}

	&__number-link,
	&__mail-link {
		@extend %footerLink;
	}

	&__social {
		display: flex;
		flex-direction: column;
		row-gap: 0.75rem;
	}

	&__socials-inner {
		@extend %contactsTextsFonts;
		margin-bottom: 0;

		@include media.bigMobile {
			margin-bottom: 0.3em;
		}
	}

	&__icon {
		width: 1.3em;
		cursor: default;
	}
}