@use '../../styles/mixins';
@use '../../styles/media';

.error {
	@extend %section;

	&__title {
		@extend %titleLevelOne;
		margin-bottom: 0.5em;
	}

	&__subtitle {
		@extend %titleLevelFive;
		margin-bottom: 0;
		text-align: center;
		font-weight: 500;
	}

	&__img {
		margin: 0.6em auto;
		display: block;
		@include mixins.sizes(48em, auto);

		@include media.smallMobile {
			width: 38em;
		}
	}

	&__text {
		@extend %titleLevelSix;
		font-weight: 500;
		text-align: center;
	}

	&__text-link {
		@extend %footerLink;
		color: var(--main-green);
	}
}